.image-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  max-width: 100px;
  max-height: 100px;
}
.image-loading .image-loading-container {
  width: 100px;
  height: 80px;
}
.image-loading .image-loading-container svg g {
  stroke: black !important;
}
