.column-list {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  /* align-items: center; */
  justify-content: center;
  align-content: center;
  gap: 3rem;
  padding: 20px;
  height: 100%;
  width: 100%;
  min-height: 60vh;
}

@media (max-width: 1400px) {
  .column-list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 360px) {
  .column-list {
    gap: 0.5rem;
  }
}

@media (max-width: 320px) {
  .column-list {
    padding: 5px;
  }
}
