.info-container {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: inherit;
  color: white;
  width: auto;
  min-height: 90px;
}

.info-container .info-text .footer-info {
  color: #b3b3b3;
  text-align: start;
  font-size: 1rem;
}

.info-container .icon-container #location-icon,
.info-container .icon-container #mail-icon,
.info-container .icon-container #phone-icon {
  fill: yellow;

  width: 40px;
  height: 40px;
  background-color: inherit;
}
.info-container .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
}

.info-container .info-text .footer-info-title {
  color: white;
  width: 100%;
  text-align: start;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 6px;
}

.info-container .info-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10px;
  /* height: 45px; */
  background-color: inherit;
}
@media (max-width: 1280px) {
  .info-container {
    padding: 10px;
  }
}
@media (max-width: 500px) {
  .info-container .info-text .footer-info-title {
    font-size: 16px;
    font-weight: 500;
  }
}
@media (max-width: 400px) {
  .info-container .icon-container #location-icon,
  .info-container .icon-container #phone-icon,
  .info-container .icon-container #mail-icon {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 300px) {
  .info-container {
    padding: 5px;
  }
  .info-container .info-text .footer-info {
    font-size: 0.9rem;
  }
}

@media (max-width: 180px) {
  .info-container .icon-container {
    display: none;
  }
  .info-container .info-text {
    padding: 0;
  }
}
