.info-container {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: inherit;
  color: white;

  width: 100%;
  height: auto;
  /* border: 2px solid white; */
}

.info-container .info-text p {
  color: #b3b3b3;
  text-align: start;
  /* font-size: 15px; */
}

.info-container .icon-container #location-icon,
.info-container .icon-container #mail-icon,
.info-container .icon-container #phone-icon {
  fill: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: inherit;
}
.info-container .icon-container {
  background-color: inherit;
}

.info-container .info-text .footer-info-title {
  color: white;
  width: 100%;
  text-align: start;
  /* font-size: 17px; */
  /* font-weight: 500; */
  margin-bottom: 6px;
}

.info-container .info-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10px;
  /* height: 45px; */
  background-color: inherit;
}
@media (max-width: 1280px) {
  .info-container {
    padding: 10px;
  }
}
@media (max-width: 400px) {
  .info-container .icon-container #location-icon,
  .info-container .icon-container #phone-icon,
  .info-container .icon-container #mail-icon {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 300px) {
  .info-container {
    padding: 5px;
  }
}
