.gallery-image-container {
  width: 100%;
  aspect-ratio: 16 / 10;
  padding: 5px;
  background-color: white;
  border: 3px black solid;
}

@media (max-width: 250px) {
  .gallery-image-container {
    padding: 5px;
  }
}
