.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  width: 100%;
  min-height: 85vh;
}

.model-table {
  min-height: 85vh;
}
