:root {
  --fs-xl: 5rem;
  --fs-h1: 3.2rem;
  --fs-h2: 2rem;
  --fs-h3: 1.2rem;
  --fs-a: 1.2rem;
  --fs-p: 1.1rem;

  --fw-900: 900;
  --fw-800: 800;
  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-touch-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  color: black;

  scrollbar-width: thin;
  scrollbar-color: yellow #222327;

  /* GOOD BACKGROUND COLOR */
  /* background: #222327; */

  /* background: #f9f777; */
  /* background: rgb(222, 195, 172); */
  /* background: rgb(236, 229, 34); */
}
body {
  min-height: 100vh;
}

body.sidebar-open {
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

body::-webkit-scrollbar-corner,
body::-webkit-scrollbar-track {
  background-color: #222327;
}

body::-webkit-scrollbar-thumb {
  background-color: yellow;
}

img {
  max-width: 100%;
}

.page-margin-top {
  margin-top: 80px;
}
p,
h1,
h2,
h3,
a {
  background-color: inherit;
}

p {
  font-size: var(--fs-p);
  font-weight: var(--fw-500);
}

h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-900);
}
h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-800);
}
h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-600);
}
a {
  font-size: var(--fs-a);
  font-weight: var(--fw-500);
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
}

.root-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media (max-width: 1280px) {
  .page-margin-top {
    margin-top: 70px;
  }
}
@media (max-width: 1100px) {
  :root {
    --fs-h1: 2.8rem;
    --fs-h2: 1.8rem;
  }
}
@media (max-width: 992px) {
  .title {
    height: 70px;
  }
}
@media (max-width: 970px) {
  :root {
    --fs-h1: 2.3rem;
    --fs-h2: 1.6rem;
  }
}
@media (max-width: 830px) {
  :root {
    --fs-h1: 2rem;
    --fs-h2: 1.5rem;
    --fs-a: 1rem;
  }
}
@media (max-width: 500px) {
  :root {
    --fs-h3: 1rem;
  }
  h3 {
    font-weight: var(--fw-500);
  }
}
@media (max-width: 480px) {
  .title {
    height: 60px;
  }
}
@media (max-width: 350px) {
  :root {
    --fs-h1: 1.8rem;
    --fs-h2: 1.4rem;
    --fs-a: 0.9rem;
    --fs-p: 1rem;
  }
}
@media (max-width: 320px) {
  .title {
    height: 50px;
  }
}
@media (max-width: 250px) {
  :root {
    --fs-h1: 1.5rem;
    --fs-h2: 1.3rem;
  }
}
@media (max-width: 200px) {
  :root {
    --fs-h1: 1.2rem;
    --fs-h2: 1.1rem;
    --fs-p: 0.8rem;
  }
  h1 {
    font-weight: var(--fw-800);
  }
  h2 {
    font-weight: var(--fw-700);
  }
}
@media (max-width: 160px) {
  :root {
    --fs-h1: 1rem;
    --fs-h3: 0.8rem;
    --fs-a: 0.7rem;
  }
}

@media (max-width: 110px) {
  :root {
    --fs-h1: 0.7rem;
    --fs-h3: 0.6rem;
    --fs-h2: 0.9rem;
    --fs-p: 0.5rem;
  }
}
