.section-scroller {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  gap: 40px;

  /* width: 100px; */
  height: 100vh;
  position: fixed;
}

.section-scroller .section-btn {
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;

  background-color: #222327;
  color: white;
  fill: white;

  padding: 7px 10px;
  width: 140px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;

  border-radius: 0px 50px 50px 0px;
}
.section-scroller .section-btn .section-text {
  color: white;

  font-size: 23px;
  font-weight: 500;
}

.section-scroller .section-btn #plate-icon,
.section-scroller .section-btn #info-icon,
.section-scroller .section-btn #column-icon {
  width: 25px;
  height: 25px;
  background-color: inherit;
}

@media (max-width: 880px) {
  .section-scroller {
    display: none;
  }
}
