.price-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 20px;
  width: 100%;
  min-height: 15vh;
}

.price-info .price-info-container {
  min-height: 320px;
  border: 4px black solid;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: clamp(50px, 90vw, 600px);
  background-color: white;
}

.price-info .price-info-container .price-info-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: clamp(50px, 100%, 550px);
  line-height: 30px;
}

@media (max-width: 1100px) {
  .price-info .price-info-container .price-info-text {
    line-height: 25px;
  }
}

@media (max-width: 530px) {
  .price-info .price-info-container .price-info-text {
    line-height: 20px;
  }
}

@media (max-width: 420px) {
  .price-info .price-info-container {
    border: 2px solid black;
  }
}

@media (max-width: 370px) {
  .price-info .price-info-container .price-info-text {
    letter-spacing: normal;
  }
}

@media (max-width: 280px) {
  .price-info {
    padding: 5px;
  }
  .price-info .price-info-container {
    padding: 5px;
  }
}
