.navbar {
  background-color: inherit;
}
.navbar .navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  background-color: inherit;
}
.navbar .navbar-container li {
  margin-left: 30px;
  background-color: inherit;
  display: flex;
}

.navbar .navbar-container .nav-btn {
  color: white;
  font-size: 1.1rem;
  background-color: inherit;
  padding: 0px 8px;
}

.navbar .navbar-container .active {
  border-radius: 100px;
  /* margin-bottom: 3px; */
  /* color: black; */
  /* background-color: yellow; */
  border: 3px solid yellow;
  /* transform: rotateX(360deg); */
  transition: transform 0.5s ease;
}

.navbar .navbar-container .nav-btn.active::after {
  border-bottom: 0px;
}

.navbar .navbar-container .nav-btn::after {
  content: "";
  display: block;
  border-bottom: 3px solid yellow;
  background: white;
  transform: scaleX(0);
  transition: transform 0.4s ease;
  transform-origin: center;
}
.navbar .navbar-container .nav-btn:hover::after {
  transform: scaleX(1);
}
.navbar .menu-icon-container {
  display: none;
}

@media (max-width: 800px) {
  .navbar .navbar-container {
    position: fixed;
    inset: 0 0 0 0;

    /* border-left: 5px solid black; */
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3em;
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;

    transform: translateX(100%);
    transition: transform 0.5s ease;

    /* box-shadow: 0 4px 8px 0 rgb(255, 255, 255),
      0 60px 20px 0 rgba(0, 0, 0, 0.19); */
    /* 
    background-color: rgba(55, 55, 55, 0.3); */

    background-color: #222327;
    /* backdrop-filter: blur(10px); */
  }
  .navbar .open {
    transform: translateX(0%);
    overflow: hidden;
  }

  .navbar .navbar-container li {
    margin: 0px;
  }
  .navbar .navbar-container .nav-btn {
    font-size: 25px;
  }

  .navbar .navbar-container .nav-btn::after {
    display: none;
  }

  .navbar .menu-icon-container {
    display: block;
    position: relative;

    cursor: pointer;
    height: 2rem;
    width: 2rem;
    z-index: 9999;
    fill: white;
    background-color: transparent;
  }
  .navbar .menu-icon-container #menu-icon,
  .navbar .menu-icon-container #close-icon {
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 320px) {
  .navbar .menu-icon-container {
    height: 1.5rem;
    width: 1.5rem;
  }
}
