.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10001;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  overflow: hidden;
}
.loading .loading-logo-container {
  width: 130px;
  height: 130px;
}
.loading .loading-logo-container #svg g {
  stroke: #535353;
}

.loading .logo-name {
  color: #535353;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-left: 20px;
  font-weight: 500;
}
