.contact-card {
  border: 2px black solid;
  width: 550px;
  height: 550px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  margin: 5px;
  background-color: white;
}

.contact-card .contact-info,
.contact-card .open-hours,
.contact-card .additional-info {
  /*border: 1px black solid;*/
  width: 400px;
  text-align: start;
  padding: 5px;
  padding-bottom: 15px;
  background-color: inherit;
  /* margin: 15px; */
}

.contact-card .contact-info p {
  line-height: 1.5;
}

.contact-card p {
  margin: 0;
  background-color: inherit;
}

.contact-card h2 {
  background-color: inherit;
}
.contact-card .card-title {
  margin-bottom: 3px;
}

@media (max-width: 500px) {
  .contact-card .contact-info,
  .contact-card .open-hours,
  .contact-card .additional-info {
    width: 100%;
  }

  .contact-card {
    height: auto;
  }
}
