.contact-card {
  border: 2px black solid;
  width: 550px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  background-color: white;
}

.contact-card .contact-info,
.contact-card .open-hours,
.contact-card .additional-info {
  width: 450px;
  text-align: start;
  padding: 5px;
  padding-bottom: 15px;
  background-color: inherit;
}

.contact-card .contact-info p {
  line-height: 1.5;
}

.contact-card p,
.contact-card h2 {
  margin: 0;
}

.contact-card .card-title {
  margin-bottom: 3px;
}

@media (max-width: 500px) {
  .contact-card .contact-info,
  .contact-card .open-hours,
  .contact-card .additional-info {
    width: 100%;
  }

  .contact-card {
    width: 100%;
    height: auto;
  }
}
