.column-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column-table .column-list {
  display: grid;
  grid-template-columns: auto auto;

  /* justify-content: center; */
  /* flex-wrap: wrap; */
  gap: 3rem;
  padding: 20px;
}

.column-container {
  background-color: white;
  width: 500px;
  height: auto;
  /* margin: 10px; */
  border: 4px black solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.column-lengths h3,
div {
  background-color: inherit;
}
.column-lengths {
  text-align: center;
  padding: 20px;
}

.lengths {
  text-align: start;
}

.column-img {
  border: 1px solid black;

  width: 400px;
  height: 500px;
  /* height: 100%; */
}
.column-img .blur-load img {
  object-fit: fill;
}

.column-title {
  padding: 30px 10px;
  text-align: center;
  width: 100%;
}

@media (max-width: 1400px) {
  .column-table .column-list {
    display: grid;
    grid-template-columns: auto;

    /* justify-content: center; */
    /* flex-wrap: wrap; */
    gap: 3rem;
    padding: 20px;
  }
}

@media (max-width: 600px) {
  .column-container {
    width: 450px;
  }
  .column-img {
    width: 350px;
  }
}

@media (max-width: 460px) {
  .column-container {
    width: 400px;
  }
  .column-img {
    width: 300px;
  }

  .column-table .column-title {
    padding: 15px;
  }
}
@media (max-width: 420px) {
  .column-container {
    width: 350px;
    border: 2px solid black;
  }
  .column-img {
    width: 250px;
  }

  .column-lengths {
    padding: 10px;
  }
}
@media (max-width: 360px) {
  .column-table .column-list {
    gap: 0.5rem;
  }
  .column-container {
    width: 300px;
    margin: 5px;
  }
  .column-img {
    width: 200px;
  }

  .column-lengths {
    padding: 10px;
  }
}

@media (max-width: 320px) {
  .column-container {
    width: 220px;
    margin: 2px;
  }
  .column-img {
    width: 150px;
  }
  .column-table .column-list {
    padding: 5px;
  }
}
