.gallery-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  min-width: 100%;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  background-color: inherit;
  padding: 10px 20px;
}

@media (max-width: 1230px) {
  .gallery-list {
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  }
}
@media (max-width: 700px) {
  .gallery-list {
    grid-template-columns: repeat(auto-fit, minmax(85%, 1fr));
  }
}

@media (max-width: 200px) {
  .gallery-list {
    gap: 10px;
  }
}
