.type-table {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.type-list {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-items: center;
  justify-content: center;
  grid-gap: 3rem;
  padding: 20px;
}

.type {
  display: grid;
  grid-template-areas:
    "tnumber . twidth . "
    ". . wsizer ."
    "theight hsizer timg ."
    ". . tweight ."
    " . . . tprice";
  align-items: center;
  padding: 10px;
  height: 300px;
  border: 4px solid black;
}

.type-width {
  grid-area: twidth;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.width-sizer {
  grid-area: wsizer;
  width: 100%;
  height: 10px;
  border: 1px dashed black;
  border-bottom: 0px;
  margin: 4px 0;
}
.type-height {
  grid-area: theight;
  display: flex;
  align-items: center;
}

.height-sizer {
  grid-area: hsizer;
  width: 10px;
  height: 100%;
  border: 1px dashed black;
  border-right: 0px;
  margin: 0 4px;
}
.type-img {
  grid-area: timg;
  width: 400px;
  min-height: 120px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
.type-number {
  grid-area: tnumber;
  display: flex;
  align-items: center;
  justify-content: center;
}
.type-price {
  grid-area: tprice;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.type-weight-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.type-weight {
  grid-area: tweight;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1500px) {
  .type-list {
    grid-template-columns: auto;
  }
}

@media (max-width: 600px) {
  .type-img {
    width: 300px;
  }

  .type {
    height: auto;
  }

  .type-height {
    transform: rotate(-90deg);
  }
}
@media (max-width: 460px) {
  .type-img {
    width: 250px;
  }

  .type {
    height: auto;
    margin: 5px;
  }
  .type-list {
    grid-gap: 0.5rem;
  }
}
@media (max-width: 420px) {
  .type {
    border: 2px solid black;
  }
}

@media (max-width: 400px) {
  .type-img {
    width: 200px;
  }

  .type {
    height: auto;
    margin: 5px;
    border: 2px solid black;
  }
  .type-list {
    grid-gap: 0.5rem;
    padding: 10px;
  }
}
@media (max-width: 350px) {
  .type-img {
    width: 150px;
  }

  .type {
    height: auto;
    margin: 3px;
    border: 2px solid black;
    padding: 5px;
  }
  .type-list {
    grid-gap: 0.5rem;
  }

  .height-sizer {
    width: 5px;
  }
  .width-sizer {
    height: 5px;
  }
}

@media (max-width: 280px) {
  .type-img {
    width: 120px;
  }

  .type {
    height: auto;
    margin: 3px;
    border: 2px solid black;
    padding: 5px;
  }
  .type-list {
    padding: 5px;
  }

  .height-sizer {
    width: 5px;
  }
  .width-sizer {
    height: 5px;
  }
}
