.not-found-page {
  height: 100vh;
  width: 100%;
  background: rgba(22, 23, 27, 0.7);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 50px 0px;
}
.not-found-page .not-found-header,
.not-found-page .not-found-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.not-found-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* gap: 70px; */
}
.not-found-main .not-found-number {
  font-size: 100px;
  font-weight: 900;
  color: rgba(255, 255, 0, 0.721);
  -webkit-text-stroke: 3px rgb(63, 63, 63);
}

.not-found-text {
  padding: 20px;
  padding-top: 50px;
  font-size: 20px;
}

.not-found-page .nav-btn {
  border: 2px white solid;
  padding: 10px;
  cursor: pointer;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.not-found-page .nav-btn:hover {
  background-color: white;
  color: black;
}

.not-found-page .loading-logo-container {
  width: 60px;
  height: 60px;
}
.not-found-page h1,
.not-found-page h2,
.not-found-page p {
  color: white;
}
